.box * {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.icon {
  display: inline-block;
}
.icon-edit {
  display: inline-block;
  background: url(./edit.svg);
  vertical-align: middle;
  width: 18px;
  height: 18px;
  background-size: 100%;
  margin-left: 5px;
}
.icon-same-level {
  display: inline-block;
  background: url(./same.svg);
  vertical-align: middle;
  width: 18px;
  height: 18px;
  background-size: 100%;
  margin-left: 5px;
}
.icon-remove {
  display: inline-block;
  background: url(./remove.svg);
  vertical-align: middle;
  width: 18px;
  height: 18px;
  background-size: 100%;
  margin-left: 5px;
}
.icon-add {
  display: inline-block;
  background: url(./add.svg);
  vertical-align: middle;
  width: 18px;
  height: 18px;
  background-size: 100%;
  margin-left: 5px;
}

.icon-show {
  display: inline-block;
  background: url(./right.svg) no-repeat;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  background-size: 70%;
  background-position: 3px 3px;
}

.icon-hide {
  background: url(./down.svg) no-repeat;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  background-size: 60%;
  background-position: 3px 3px;
}

.icon-file {
  display: inline-block;
  background: url(./file.svg) no-repeat;
  vertical-align: middle;
  width: 24px;
  height: 21px;
  background-size: 100%;
}
.icon-unFile {
  display: inline-block;
  background: url(./unfile.svg) no-repeat;
  vertical-align: middle;
  width: 24px;
  height: 21px;
  background-size: 85%;
}

.treeEmpty .icon-show {
  background-position: -100px -100px;
}
.treeEmpty .icon-hide {
  background-position: -100px -100px;
}

.none {
  display: none;
}

.treeNode:hover {
  background: #f4f9fd;
  border-color: #e5f0fb;
  cursor: pointer;
}
.treeNode {
  /**禁止选中文字 */
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.active,
.active:hover {
  background: #e5f0fb;
  border-color: #bbd4ef #fff;
}
.search-input {
  display: block;
  height: 20px;
  border: 1px solid white;
  margin: 1px 1px 1px 1px;
  padding: 0px 12px 0px 12px;
}
.search-input:focus {
  border-color: #66afe9;
  outline: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
}
.search {
  font-style: italic;
  color: #8b0000;
  font-weight: bold;
}
